* {
  box-sizing: border-box; }

/*insert custom css below*/

small {
font-size: 18px;
}

.box  {
border: 1px solid black;
max-width: 500px;
padding: 1em;
margin-bottom: 15px;
}

a {
color: black;
text-decoration: none;
}

.main-content {
margin: 15px;
}

.heading {
margin: 15px;
}

.footer {
margin: 15px;
}

body {
background-color: #cbcbcb;
}
